<h1>トップページです</h1>
<% if @events %>
  <% @events.each do |event| %>
    <div id="select_days">
    <%= link_to event_path(event.id) do%>
      <ul id="add_date_style">
        <li class = "date_input">
          <%= event.name %>
        </li>
        <li class = "date_time"> 
          <%= event.description %>
        </li>
      </ul>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= link_to "新規作成", new_event_path %>