<table id="days">
  <thead>
    <tr>
      <th id="prev">&laquo;</th>
      <th id="title" colspan="5">2020/05</th>
      <th id="next">&raquo;</th>
    </tr> 
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  <tfoot>
    <tr>
      <td id="today" colspan="7">Today</td>
    </tr>
  </tfoot>
</table>
<br>
<% if @events %>
  <% @events.each do |event| %>
    <div id="select_days">
    <%= link_to event_path(event.id) do%>
      <ul id="add_date_style">
        <li class = "date_input">
          <%= event.name %>
        </li>
        <li class = "date_time"> 
          <%= event.description %>
        </li>
      </ul>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= link_to "新規作成", new_event_path %>